// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as WhatsappSDK from "../../../index.js";

export declare namespace MessagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MessagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MessagesClient.Options>;

    constructor(options: MessagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Send a WhatsApp message (text, media, interactive, template, contacts, etc.)
     *
     * @param {string} numberId - WhatsApp phone number ID
     * @param {WhatsappSDK.WhatsappApiSendMessageRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.messages.sendMessage("numberId", {
     *         messaging_product: "whatsapp",
     *         to: "to",
     *         type: "text"
     *     })
     */
    public sendMessage(
        numberId: string,
        request: WhatsappSDK.WhatsappApiSendMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiSendMessageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendMessage(numberId, request, requestOptions));
    }

    private async __sendMessage(
        numberId: string,
        request: WhatsappSDK.WhatsappApiSendMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiSendMessageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(numberId)}/messages`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiSendMessageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/{numberId}/messages");
    }

    /**
     * Show a "typing…" indicator to the recipient. Send this before sending the actual message for a more natural conversation flow.
     *
     * @param {string} numberId
     * @param {WhatsappSDK.WhatsappApiShowTypingIndicatorRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.messages.showTypingIndicator("numberId", {
     *         messaging_product: "whatsapp",
     *         status: "read",
     *         message_id: "message_id",
     *         typing_indicator: {
     *             type: "text"
     *         }
     *     })
     */
    public showTypingIndicator(
        numberId: string,
        request: WhatsappSDK.WhatsappApiShowTypingIndicatorRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiShowTypingIndicatorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__showTypingIndicator(numberId, request, requestOptions));
    }

    private async __showTypingIndicator(
        numberId: string,
        request: WhatsappSDK.WhatsappApiShowTypingIndicatorRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiShowTypingIndicatorResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(numberId)}/messages`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiShowTypingIndicatorResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/{numberId}/messages");
    }
}
