// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as WhatsappSDK from "../../../index.js";

export declare namespace FlowsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FlowsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FlowsClient.Options>;

    constructor(options: FlowsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a new WhatsApp Flow under a WABA account.
     *
     * @param {string} wabaId - WhatsApp Business Account ID
     * @param {WhatsappSDK.CreateFlowRequestWrapper} request
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.createFlow("wabaId", {
     *         name: "name",
     *         categories: ["SIGN_UP", "SIGN_UP"]
     *     })
     */
    public createFlow(
        wabaId: string,
        request: WhatsappSDK.CreateFlowRequestWrapper,
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiCreateFlowResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createFlow(wabaId, request, requestOptions));
    }

    private async __createFlow(
        wabaId: string,
        request: WhatsappSDK.CreateFlowRequestWrapper,
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiCreateFlowResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(wabaId)}/flows`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiCreateFlowResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/{wabaId}/flows");
    }

    /**
     * Update name, categories, or endpoint URI of an existing flow.
     *
     * @param {string} flowId
     * @param {WhatsappSDK.UpdateFlowMetadataRequestWrapper} request
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.updateFlowMetadata("flowId")
     */
    public updateFlowMetadata(
        flowId: string,
        request: WhatsappSDK.UpdateFlowMetadataRequestWrapper = {},
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiUpdateFlowMetadataResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateFlowMetadata(flowId, request, requestOptions));
    }

    private async __updateFlowMetadata(
        flowId: string,
        request: WhatsappSDK.UpdateFlowMetadataRequestWrapper = {},
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiUpdateFlowMetadataResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(flowId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiUpdateFlowMetadataResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/{flowId}");
    }

    /**
     * List all flows under a WABA account.
     *
     * @param {string} wabaId
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.listFlows("wabaId")
     */
    public listFlows(
        wabaId: string,
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiGetManyFlowsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listFlows(wabaId, requestOptions));
    }

    private async __listFlows(
        wabaId: string,
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiGetManyFlowsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(wabaId)}/flows`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiGetManyFlowsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/{wabaId}/flows");
    }

    /**
     * Get a single flow by ID, optionally specifying fields.
     *
     * @param {string} flowId
     * @param {WhatsappSDK.WhatsappApiGetFlowRequest} request
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.getFlow("flowId")
     */
    public getFlow(
        flowId: string,
        request: WhatsappSDK.WhatsappApiGetFlowRequest = {},
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiFlowDetail> {
        return core.HttpResponsePromise.fromPromise(this.__getFlow(flowId, request, requestOptions));
    }

    private async __getFlow(
        flowId: string,
        request: WhatsappSDK.WhatsappApiGetFlowRequest = {},
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiFlowDetail>> {
        const { fields } = request;
        const _queryParams: Record<string, unknown> = {
            fields,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(flowId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhatsappSDK.WhatsappApiFlowDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/{flowId}");
    }

    /**
     * Delete a flow permanently.
     *
     * @param {string} flowId
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.deleteFlow("flowId")
     */
    public deleteFlow(
        flowId: string,
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiDeleteFlowResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteFlow(flowId, requestOptions));
    }

    private async __deleteFlow(
        flowId: string,
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiDeleteFlowResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(flowId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiDeleteFlowResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/{flowId}");
    }

    /**
     * Upload or replace the flow.json asset for a flow.
     *
     * @param {string} flowId
     * @param {WhatsappSDK.WhatsappApiUpdateFlowJsonRequest} request
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.updateFlowJson("flowId", {
     *         file: {
     *             "key": "value"
     *         }
     *     })
     */
    public updateFlowJson(
        flowId: string,
        request: WhatsappSDK.WhatsappApiUpdateFlowJsonRequest,
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiUpdateFlowJsonResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateFlowJson(flowId, request, requestOptions));
    }

    private async __updateFlowJson(
        flowId: string,
        request: WhatsappSDK.WhatsappApiUpdateFlowJsonRequest,
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiUpdateFlowJsonResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(flowId)}/assets`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: { ...request, name: "flow.json", asset_type: "FLOW_JSON" },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiUpdateFlowJsonResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/{flowId}/assets");
    }

    /**
     * Get the web preview URL for a flow. The `fields` parameter controls whether the existing preview link is invalidated. The returned `preview_url` can then have interactive URL parameters (interactive, flow_token, flow_action, flow_action_payload, phone_number) appended by the caller.
     *
     * @param {string} flowId
     * @param {WhatsappSDK.WhatsappApiGetFlowPreviewRequest} request
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.getFlowPreview("flowId", {
     *         fields: "preview.invalidate(false)"
     *     })
     */
    public getFlowPreview(
        flowId: string,
        request: WhatsappSDK.WhatsappApiGetFlowPreviewRequest,
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiFlowPreviewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFlowPreview(flowId, request, requestOptions));
    }

    private async __getFlowPreview(
        flowId: string,
        request: WhatsappSDK.WhatsappApiGetFlowPreviewRequest,
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiFlowPreviewResponse>> {
        const { fields } = request;
        const _queryParams: Record<string, unknown> = {
            fields,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(flowId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiFlowPreviewResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/{flowId}");
    }

    /**
     * Publish a flow, making it available to send to users.
     *
     * @param {string} flowId
     * @param {FlowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.flows.publishFlow("flowId")
     */
    public publishFlow(
        flowId: string,
        requestOptions?: FlowsClient.RequestOptions,
    ): core.HttpResponsePromise<WhatsappSDK.WhatsappApiPublishFlowResponse> {
        return core.HttpResponsePromise.fromPromise(this.__publishFlow(flowId, requestOptions));
    }

    private async __publishFlow(
        flowId: string,
        requestOptions?: FlowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhatsappSDK.WhatsappApiPublishFlowResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(flowId)}/publish`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhatsappSDK.WhatsappApiPublishFlowResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/{flowId}/publish");
    }
}
