// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as WhatsappSDK from "../../../index.js";

export declare namespace WabaClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WabaClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WabaClient.Options>;

    constructor(options: WabaClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Upload the business public encryption key used for end-to-end encrypted WhatsApp Flows. Uses application/x-www-form-urlencoded content type.
     *
     * @param {string} numberId
     * @param {WhatsappSDK.WhatsappApiUploadEncryptionRequest} request
     * @param {WabaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.waba.uploadEncryptionKey("numberId", {
     *         business_public_key: "business_public_key"
     *     })
     */
    public uploadEncryptionKey(
        numberId: string,
        request: WhatsappSDK.WhatsappApiUploadEncryptionRequest,
        requestOptions?: WabaClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__uploadEncryptionKey(numberId, request, requestOptions));
    }

    private async __uploadEncryptionKey(
        numberId: string,
        request: WhatsappSDK.WhatsappApiUploadEncryptionRequest,
        requestOptions?: WabaClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(numberId)}/whatsapp_business_encryption`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/{numberId}/whatsapp_business_encryption",
        );
    }

    /**
     * Register a phone number with WhatsApp Cloud API.
     *
     * @param {string} numberId
     * @param {WhatsappSDK.WhatsappApiRegisterNumberRequest} request
     * @param {WabaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.waba.registerNumber("numberId", {
     *         messaging_product: "whatsapp",
     *         pin: "pin"
     *     })
     */
    public registerNumber(
        numberId: string,
        request: WhatsappSDK.WhatsappApiRegisterNumberRequest,
        requestOptions?: WabaClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__registerNumber(numberId, request, requestOptions));
    }

    private async __registerNumber(
        numberId: string,
        request: WhatsappSDK.WhatsappApiRegisterNumberRequest,
        requestOptions?: WabaClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhatsappSDKEnvironment.Production
                    ).graph,
                `${core.url.encodePathParam(numberId)}/register`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhatsappSDKError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/{numberId}/register");
    }
}
